@{
	Layout = null;
}
@inject IConfiguration Configuration
	
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]  "Admin Paneli"</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons.min.css" />
	<link rel="icon" type="image/png" sizes="16x16" href="~/matrix-admin-master/assets/images/logo-icon1.png" />
	<link href="~/matrix-admin-master/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet" />
	<link href="~/matrix-admin-master/dist/css/style.min.css" rel="stylesheet" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />



	<script>
		// C# backend tarafından appsettings.json'dan okunan "ApiSettings:BaseUrl" değeri buraya yazdırılacak.
		const apiBaseUrl = "@Configuration["ApiSettings:BaseUrl"]";
		// Geliştirme sırasında kontrol etmek için bu satırı yorumdan çıkarabilirsiniz:
		// console.log("API Temel URL (Layout'dan):", apiBaseUrl);
	</script>

</head>

<body>


	<input type="hidden" id="jwtToken" value="@Context.Session.GetString("JwtToken")" />

	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>


	<div id="main-wrapper">
		<!-- HEADER -->
		<header class="topbar" data-navbarbg="skin5">
			<nav class="navbar top-navbar navbar-expand-md navbar-dark">
				<div class="navbar-header" data-logobg="skin5">
					<a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
						<i class="ti-menu ti-close"></i>
					</a>
					<a class="navbar-brand" href="/Admin/TalepForm/Index/">
						<b class="logo-icon p-l-10">
							<img src="~/matrix-admin-master/assets/images/logo-icon1.png" alt="homepage" class="light-logo" />
						</b>
						<span class="logo-text">
							<img src="~/matrix-admin-master/assets/images/logo-text1.png" alt="homepage" class="light-logo" />
						</span>
					</a>
					<a class="topbartoggler d-block d-md-none waves-effect waves-light"
					   href="javascript:void(0)"
					   data-toggle="collapse"
					   data-target="#navbarSupportedContent"
					   aria-controls="navbarSupportedContent"
					   aria-expanded="false"
					   aria-label="Toggle navigation">
						<i class="ti-more"></i>
					</a>
				</div>
	<div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
		<ul class="navbar-nav float-left mr-auto">
			<li class="nav-item d-none d-md-block">
				<a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar">
					<i class="mdi mdi-menu font-24"></i>
				</a>
			</li>
			<li class="nav-item search-box">
				<a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
					<i class="ti-search"></i>
				</a>
				<form class="app-search position-absolute">
					<input type="text" id="mainSearchInput" class="form-control" placeholder="Ara &amp; Enter'a bas" />
					<a class="srh-btn"><i class="ti-close"></i></a>
				</form>
			</li>
		</ul>

		<ul class="navbar-nav float-right">

			@* 🔹 Sadece Admin görsün *@
			@if (User.IsInRole("Admin"))
			{
				<li class="nav-item mr-2">
					<a class="nav-link btn btn-success text-white"
					asp-controller="Register" asp-action="Signup">
						<i class="fa fa-user-plus"></i> Kullanıcı Ekle
					</a>
				</li>
			}

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
				   href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="~/matrix-admin-master/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31" />
					<span class="ml-2">@User.Identity?.Name</span>
				</a>
				<div class="dropdown-menu dropdown-menu-right user-dd animated">
					<button type="button"
							class="dropdown-item logout-btn-modern text-danger"
							onclick="document.getElementById('logoutForm').submit();">
						<i class="fa fa-power-off"></i>
						<span>ÇIKIŞ</span>
					</button>
					<form id="logoutForm" asp-controller="Login" asp-action="Logout" method="post" style="display:none;">
						@Html.AntiForgeryToken()
					</form>
				</div>
			</li>
		</ul>
	</div>

</nav>
		</header>

		<!-- SIDEBAR -->
		<aside class="left-sidebar" data-sidebarbg="skin5">
			<div class="scroll-sidebar">
				<nav class="sidebar-nav">
					<ul id="sidebarnav" class="p-t-30">
@* 						<li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">DASHBOARD</span></a></li>
 *@						@*                         <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Home/Index/" aria-expanded="false"><i class="mdi mdi-format-list-bulleted"></i><span class="hide-menu">KATEGORİLER</span></a></li>
 *@                        <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Product/Index/" aria-expanded="false"><i class="mdi mdi-format-list-bulleted"></i><span class="hide-menu">ÜRÜNLER</span></a></li>
@* 						<li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Kanal/Index/" aria-expanded="false"><i class="mdi mdi-television-guide"></i><span class="hide-menu">KANALLAR</span></a></li>
						<li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Point/Index/" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">NOKTALAR</span></a></li>
						<li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Director/Index/" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">KULLANICILAR</span></a></li>
						<li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/TalepForm/Index/" aria-expanded="false"><i class="mdi mdi-file-document-box"></i><span class="hide-menu">İNSERT TALEP</span></a></li>
						<li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/MalYuklemeTalepForm/Index/" aria-expanded="false"><i class="mdi mdi-file-document-box"></i><span class="hide-menu">ÜRÜN TALEP</span></a></li>
						<li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Chart/Index/" aria-expanded="false"><i class="mdi mdi-chart-line"></i><span class="hide-menu">ANALİZ</span></a></li>
 *@
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Kanal/Index/" aria-expanded="false">
								<i class="bi bi-tv"></i> <!-- KANALLAR -->
								<span class="hide-menu">KANALLAR</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Point/Index/" aria-expanded="false">
								<i class="bi bi-geo-alt"></i> <!-- NOKTALAR -->
								<span class="hide-menu">NOKTALAR</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Director/Index/" aria-expanded="false">
								<i class="bi bi-people"></i> <!-- KULLANICILAR -->
								<span class="hide-menu">KULLANICILAR</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/TalepForm/Index/" aria-expanded="false">
								<i class="bi bi-file-earmark-plus"></i> <!-- İNSERT TALEP -->
								<span class="hide-menu">KAMPANYA-AKSİYON</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/MalYuklemeTalepForm/Index/" aria-expanded="false">
								<i class="bi bi-truck"></i> <!-- ÜRÜN TALEP -->
								<span class="hide-menu">ÜRÜN TALEP</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Chart/Index/" aria-expanded="false">
								<i class="bi bi-graph-up"></i> <!-- ANALİZ -->
								<span class="hide-menu">ANALİZ</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Pivot/Index/" aria-expanded="false">
								<i class="bi bi-bar-chart-line"></i> <!-- ANALİZ -->
								<span class="hide-menu">CİPS BÜTÇE</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/IhaleAnlasmaSozlesme/Index/" aria-expanded="false">
								<i class="bi bi-file-earmark-text"></i>
								<span class="hide-menu">İHALE ANLAŞMA</span>
							</a>
						</li>
</ul>
				</nav>
			</div>
		</aside>

		<!-- CONTENT -->
		<div class="page-wrapper">
			<div class="page-breadcrumb">
				<div class="row">
					<div class="col-12 d-flex no-block align-items-center">
						<h4 class="page-title">@ViewData["Title"]</h4>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				@RenderBody()
			</div>
		</div>
	</div>

	<script src="~/matrix-admin-master/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="~/matrix-admin-master/assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="~/matrix-admin-master/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/matrix-admin-master/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="~/matrix-admin-master/assets/extra-libs/sparkline/sparkline.js"></script>
	<script src="~/matrix-admin-master/dist/js/waves.js"></script>
	<script src="~/matrix-admin-master/dist/js/sidebarmenu.js"></script>
	<script src="~/matrix-admin-master/dist/js/custom.min.js"></script>
	<script src="~/matrix-admin-master/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<script src="~/matrix-admin-master/assets/libs/magnific-popup/meg.init.js"></script>
	@RenderSection("Scripts", required: false)
	@RenderSection("Styles", required: false)

	<!-- Yukarı Çık Butonu (sağ altta) -->
	<button id="toTopBtn"
			style="display:none; position:fixed; right:24px; bottom:24px; z-index:9999; border-radius:50%; width:48px; height:48px; background:#495057; color:#fff; font-size:28px; border:none; box-shadow:0 2px 8px #0003; cursor:pointer;"
			aria-label="Yukarı Çık">
		<i class="bi bi-arrow-up"></i>
	</button>
	<script>
		$(window).scroll(function () {
			if ($(this).scrollTop() > 200) {
				$('#toTopBtn').fadeIn();
			} else {
				$('#toTopBtn').fadeOut();
			}
		});

		$('#toTopBtn').click(function () {
			$('html, body').animate({ scrollTop: 0 }, 500);
			return false;
		});
	</script>
	<style>
		/* Sidebar dar halde */
		#main-wrapper.mini-sidebar .left-sidebar {
			width: 70px !important;
		}

		#main-wrapper.mini-sidebar .hide-menu {
			display: none !important;
		}

		/* Sidebar genişleyince */
		#main-wrapper:not(.mini-sidebar) .left-sidebar {
			width: 240px !important;
		}

		#main-wrapper:not(.mini-sidebar) .hide-menu {
			display: inline-block !important;
		}
	</style>

</body>
</html>
<script>
	$(document).ready(function () {
		$('#mainSearchInput').on('input', function () {
			let searchText = $(this).val().toLocaleLowerCase('tr');

			// Masaüstü tablosunda arama (her zaman uygula)
			$('.searchable-table tbody tr').each(function () {
				let found = false;
				$(this).find('td').each(function () {
					if ($(this).text().toLocaleLowerCase('tr').indexOf(searchText) !== -1) {
						found = true;
						return false;
					}
				});
				$(this).toggle(found);
			});

			// Mobil kartlarda arama (her zaman uygula)
			$('.searchable-list .mal-yukleme-card').each(function () {
				let cardText = $(this).text().toLocaleLowerCase('tr');
				$(this).toggle(cardText.indexOf(searchText) !== -1);
			});
		});
	});
</script>

<script>
	$(function () {
		// Sayfa yüklenince sidebar'ı mini başlat
		$("#main-wrapper").attr("data-sidebartype", "mini-sidebar").addClass("mini-sidebar");
		$("body").addClass("mini-sidebar");

		// Hover ile aç/kapat davranışı
		$(".left-sidebar").hover(
			function () {
				$("#main-wrapper").removeClass("mini-sidebar");
				$("body").removeClass("mini-sidebar");
				$("#main-wrapper").attr("data-sidebartype", "full");
			},
			function () {
				$("#main-wrapper").addClass("mini-sidebar");
				$("body").addClass("mini-sidebar");
				$("#main-wrapper").attr("data-sidebartype", "mini-sidebar");
			}
		);
	});
</script>
