@model List<ResultProductDto>

@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
</head>

<div class="table-responsive">
    <!-- Masaüstü / Büyük Ekran Tablo Görünümü -->
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ERP Kodu</th>
                <th>Ürün Adı</th>
                <th>Kategori</th>
                <th>Marka</th>
                <th>KG</th>
                <th>Fiyat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ErpCode</td>
                    <td>@item.ProductName</td>
                    <td>@item.ParentCategoryName</td>
                    <td>@item.CategoryName</td>
                    <td>@(item.ApproximateWeightKg.ToString("N2") ?? "0,00")</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Mobil Kart Görünümü -->
<div class="product-card-view">
    @foreach (var item in Model)
    {
        <div class="product-card">
            <div class="card-header">
                <strong>@item.ProductName</strong>
            </div>
            <div class="info-list">
                <div>
                    <span class="label">ERP Kodu:</span>
                    <span class="value">@item.ErpCode</span>
                </div>
                <div>
                    <span class="label">Kategori:</span>
                    <span class="value">@item.ParentCategoryName</span>
                </div>
                <div>
                    <span class="label">Marka:</span>
                    <span class="value">@item.CategoryName</span>
                </div>
             
                <div>
                    <span class="label">Ağırlık (kg):</span>
                    <span class="value">@(item.ApproximateWeightKg.ToString("N2") ?? "0,00")</span>
                </div>
                <div>
                    <span class="label">Fiyat:</span>
                    <span class="value">@item.Price</span>
                </div>
            </div>
            @* 
            <div class="card-actions">
                <a asp-action="UpdateProduct" asp-route-id="@item.ProductId" class="btn btn-sm btn-warning">Güncelle</a>
                <a asp-action="DeleteProduct" asp-route-id="@item.ProductId" class="btn btn-sm btn-danger">Sil</a>
            </div>
            *@
        </div>
    }
</div>
